@media screen and (max-width: 576px) {
    .navbar ul li {
        display: none;
    }

    .navbar .btn-main {
        display: none;
    }
    .hamberger {
        display: block;
    }
    .topimg{
        width: 170px;
        height: 170px;
        position: absolute;
        top: 6%;
        left: 35%;
    }
    .mic{
        width: 45px;
        height: 70px;
    position: absolute;
    top: 28%;
    left: 37%;
    }
    .new{
        border-radius: 50px;
        position: absolute;
        top: 10%;
        left: 55%;
        }
        .b-btn {
            align-items: center;
        }
    .btext{
        position: absolute;
        top: 48%;
        left: 3%;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        }
    .banner{
        max-height: 466px;
        margin-bottom: 200px;
    }
    .p-contain{
        margin-top: 100px;
        padding: 40px 20px;
    
    } 
    .p-text{
        margin-top: 50px;
    } 
    .p-cardcontainer
    {
        padding: 20px 20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    }  
    .gridd{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr); 
        margin: 40px 40px;  
    }
    .bigcol{
        background-color: #351165;
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .fc{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 0 auto;
    }
    .featurecard{
    margin: 100 auto;
}  
    .chead{
        margin-top: 1080px;
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.challangecard{
    margin: 40px 40px;
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display:grid;
    align-items: center;
}
.challengicon{
    
    display: flex;
    justify-content: center;
}
.challengicon img{
    border: 1px solid #533C72;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    gap: 20px;
}
.challangimg{
    margin: 0 auto;
    padding-left: 25px;

}
.challengtext{
    text-align: center;
}
.foterimg {
    width: 150px;
    height: 32px;
  position: absolute;
  top: 6%;
  left: 39%;
}
.fotericon{
    display: flex;
}
.footercopyright{
    font-size: small;
    color: #FFFFFF;
    position: absolute;
    top: 80%;
    left: 28%;
}
.fotericon ul{
    /*display: flex;
    justify-content: space-around;*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 300px;
}
.fotericon{
    max-width: 540px;
    position: absolute;
    top: 33%;
    left: 28%;
}

}