
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A0B2E;
}
.btn-main{
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 12px  16px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8) ;
}
.hamberger{
    display: none;
}

.navitem{
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display: flex;
    color: white;
    gap: 32px;
}
.navbar li{
    list-style: none;  
}
.banner{
    position: relative;
}
.topimg{
    position: absolute;
    top: 13%;
    left: 39%;
}
.mic{
    position: absolute;
    top: 22%;
    left: 34%;
}
.new{
    border-radius: 50px;
    position: absolute;
    top: 18%;
    left: 55%;
    background-color: #00FF88;
    color: #1A0B2E;
    max-width: 75px;
    height: 38px;
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3 27 rgba(0, 255, 136, 0.5);
    animation: forwards ;
}
.btext{
    position: absolute;
    top: 75%;
    left: 33%;
    align-items: center;
    text-align: center;
}
.b-head{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 900;

}
.b-para{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 10px;
}

.b-btn{
    padding-left: 95px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 24px;
}
.b-s{
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px #00FF88;
    padding: 12px 20px;
    border-radius: 20px;
    color: #00FF88;
}

.p-contain{
    align-items: center;
    margin: 0  auto;
    text-align: center;
    max-width: 1200px;
}
.phead{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.ptext{
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 200;
}
.p-cardcontainer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gridpart{
    background-color: #230E3D;
}
.gwidth{
    max-width: 1200px;
    margin: 0 auto;
}
.ghead{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
}
.gtext{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 100;
}

.gridd{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
    }
    .bigcol{
        background-color: #351165;
        grid-row: span 2;
        align-items: center;
        padding: 100px 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .bigrow{
        background-color: #351165;
        grid-column: span 2;
        padding: 100px 40px;
        border-radius: 10px;
    }
    .smallgrid{
        background-color: #351165;
        padding: 100px 40px;
        border-radius: 10px;
    }
.fc{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 380px;
    height: 440px;
    gap: 30px;
    }   
.fhead{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
}
.ftext{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 100;
}
.ft2{
    font-size: 1rem;
    line-height: 24px;
    color: #00FF88;
    font-weight: 400;
    margin-top: 12px;
    gap: 10px;

}
.chead{
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.challangecard{
    margin-top: 40px;
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display:flex;
    align-items: center;
}
.challengicon{
    
    display: flex;
    gap: 20px;
}
.challengicon img{
    border: 1px solid #533C72;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.challengtext{
    padding-left: 24px;
}
.channenghead{
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
}
.challengpara{
    font-size: 1rem;
    color: #ffffffa8  ;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 16px;
    margin-top: 16px;

}
.foterbanner {
  position: relative;
}

.foterimg {
  position: absolute;
  top: 28%;
  left: 43%;
}
.fotericon{
    max-width: 540px;
    position: absolute;
    top: 52%;
    left: 33%;
}
.fotericon ul{
    /*display: flex;
    justify-content: space-around;*/
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.fotericon ul li{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFFFFF;
}
.footercopyright{
    color: #FFFFFF;
    position: absolute;
    top: 66%;
    left: 38%;
}



