
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A0B2E;
}
.btn-main{
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 12px  16px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8) ;
}

.navitem{
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display: flex;
    color: white;
    gap: 32px;
}
.navbar li{
    list-style: none;  
}
.banner{
    position: relative;
}
.topimg{
    position: absolute;
    top: 15%;
    left: 39%;
}
.mic{
    position: absolute;
    top: 22%;
    left: 34%;
}
.new{
    border-radius: 50px;
    position: absolute;
    top: 18%;
    left: 55%;
    background-color: #00FF88;
    color: #1A0B2E;
    max-width: 75px;
    height: 38px;
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3 27 rgba(0, 255, 136, 0.5);
    animation: forwards ;
}
.btext{
    position: absolute;
    top: 75%;
    left: 32%;
    align-items: center;
    text-align: center;
}
.b-head{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 900;

}
.b-text{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 10px;
}

.b-btn{
    padding-left: 95px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.b-s{
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px #00FF88;
    padding: 12px 20px;
    border-radius: 20px;
    color: #00FF88;
}

.p-contain{
    align-items: center;
    margin: 0  auto;
    text-align: center;
    max-width: 1200px;
}
.phead{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.ptext{
    color: #FFFFFF;
    line-height: 20px;
    font-weight: 200;
}
.p-cardcontainer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
