
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1A0B2E;
}
.btn-main{
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 12px  16px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8) ;
}

.navitem{
    margin-top: 30px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display: flex;
    color: white;
    gap: 32px;
}
.navbar li{
    list-style: none;  
}
.banner{
    position: relative;
}
.topimg{
    position: absolute;
    top: 15%;
    left: 39%;
}
.mic{
    position: absolute;
    top: 22%;
    left: 34%;
}
.new{
    border-radius: 50px;
    position: absolute;
    top: 18%;
    left: 55%;
    background-color: #00FF88;
    color: #1A0B2E;
    max-width: 75px;
    height: 38px;
    text-align: center;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3 27 rgba(0, 255, 136, 0.5);
}

.b-btn{
    display: flex;
}




@media screen and {
    
}